body {
    background-image: url('/images/625548.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'EB Garamond', serif;
    color: #dcdcdc;
    text-align: center;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 2.5em;
}
.p{
    font-size: 2.5em; 
}
li{
    font-size: 2.5em;
}
ol {
font-size: 1.5em;
}
.personal, .proyectos, .contacto, comentarios {
    background: rgba(50, 50, 50, 0.8);
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
}




footer {
    background: #333;
    padding: 10px;
    margin-top: 20px;
}